openai-whisper
fastapi
uvicorn
python-multipart
python-dotenv
psutil
numpy
pandas
matplotlib
humanize
py3nvml
requests
python-dateutil
aiohttp
pydantic
platformdirs
huggingface_hub
pyannote.audio
soundfile
torch
torchaudio
torch-audiomentations
